<ion-content [fullscreen]="true" (click)="functionClosePage()">
  <div class="center-wrapper">
    <div class="formLoginDiv">
     <div class="divName">{{update_ver_one}}</div>
     <div class="divNumber">{{update_ver_tow}}</div>
     <div class="divNumber">{{update_ver_three}}</div>
     <div class="divBorderFooter"></div>
    <div class="buttonDivData">
      <ion-button mode="ios" (click)="goTosend()" class="selectButtonAdd">{{update_ver_for}}</ion-button>
    </div>
    </div>
  </div>
</ion-content>